<!DOCTYPE html>
<html lang="pt-br">
<%- include('../../partials/head.ejs'); %>
<body>
    <%- include('../../partials/navbar.ejs'); %>
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2> Editar categoria </h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/categories/update">
                    <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria" value="<%= category.title %>" required>
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <br>
                    <button class="btn btn-success"> Atualizar </button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/script.ejs'); %>
</html>