<!DOCTYPE html>
<html lang="pt-br">
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/homeNavbar.ejs'); %>
    <br>
    <div class="container">

        <div class="jumbotron">
            <h1 class="dsplay-4"> Bem vindo </h1>
            <p class="lead"> Este é um simples blog para treinar o modelo MVC </p>
            <hr class="my-4">
            <p> Foram utilizadas as tecnologias Node, Express, EJS e MySQL para construção da aplicação.  </p>
            <a class="btn btn-primary btn-lg" href="https://github.com/Fredon99/UDEMY_FormacaoNodeJS/tree/main/section07-blog" role="button" target="_blank"> Leia mais </a>
        </div>

        <% articles.forEach( (article) => { %>
            <div class="card-header">
                 <h3> <%= article.title %> </h3>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug%>" class="btn btn-dark"> Ler artigo </a>
            </div>
            <br>
        <% }) %>

    </div>
</body>
<%- include('./partials/script.ejs'); %>
</html>